<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smash Arenas</title>
  <meta property="og:title" content="Smash Arenas" />
  <meta property="og:url" content="https://smash-arenas.herokuapp.com/" />
  <meta property="og:image" content="logo.png" />
  <meta property="og:description" content="Create instant online arenas with your viewers!" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/png" href="../favicon.ico">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="../app.js"></script>
</head>

<body>
  <div>
  <%- include('navbar', {user:user}); %>
  </div>
  <section class="hero is-black is-flex is-flex-centered has-text-centered is-full-height">
    <img style="height: 150px" src="logo.png" />
    <h1 class="title">
      Smash Bros. Arenas
    </h1>
    <h2 class="subtitle">
      Create instant online arenas with your viewers!
    </h2>
    <% if (user) { %>
    <div class="buttons">
      <a href="arena/<%=user.twitchId %> " class="button is-danger ">
        <strong>Enter Your Arena</strong>
      </a>
    </div>
    <% } else { %>
    <div class="buttons">
      <a href="auth/login" class="button is-dark">
        <strong>Get Started</strong>
      </a>
    </div>
    <% } %>
  </section>
  <%- include('footer', {user:user}); %>
</body>

</html>