<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smash Arena</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="../style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div>
  <%- include('navbar', {user:user}); %>
  </div>
  <section class="hero is-black is-flex is-flex-centered has-text-centered is-full-height">
    <img style="height: 150px" src="logo.png" />
    <h1 class="title">
      Smashbros Arenas
    </h1>
    <h2 class="subtitle">
      Create instant online arenas with your viewers!
    </h2>
    <% if (user) { %>
    <div class="buttons">
      <a href="/dashboard/" class="button is-dark ">
        <strong>Get Started</strong>
      </a>
    </div>
    <% } else { %>
    <div class="buttons">
      <a href="/auth" class="button is-dark">
        <strong>Get Started</strong>
      </a>
    </div>
    <% } %>
  </section>
</body>

</html>