<nav class="navbar is-danger" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger"  aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Home
      </a>
      <% if (user) { %>
      <a href="/auth/logout" class="navbar-item">
        Logout
      </a>       
      <% } %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <% if (user) { %>
        <div class="navbar-item" style="color: white">
          <img class="image" style="margin-right: 5px" src=<%=user.profileImage%> />
          <p>Welcome back <span class="has-text-weight-bold	"><%=user.displayName%></span></p>
        </div>
        
        <div class="buttons">
          <a href="/arena/<%=user.twitchId%>" class="button is-dark">
            <strong>Arena</strong>
          </a>
        </div>         


        <% } else { %>
        <div class="buttons">
          <a href="/auth/login" class="button is-dark">
            <strong>Login</strong>
          </a>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</nav>